<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Pets</h1>
    {% for pet in pets %}
    <span>
        <img width="500" height='300' src="{{pet.photo_url}}" alt="">
    {% if pet.available %}
      <p><a href="">{{pet.name}}</a> is available</p>
    {% else %}
        <p>Not available</p>
        {% endif %}
    </span>
    {% endfor %}
    <form action="/add">
        <button>Add a Pet</button>
    </form>
</body>
</html>